h1.logo-placeholder {
  font-weight: 800;
  background: -webkit-linear-gradient(#ffc409, #f47068);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2rem;
  font-family: "Inter" !important;
  margin: 0 0 6px 0;
}
